@import url('https://fonts.googleapis.com/css?family=Poppins');


header nav{
  display: inline-block;
  letter-spacing: .05em;
}

header a{
  text-decoration: none;
  letter-spacing: .05em;
  /*position: fixed;*/
  /*left: 20;
  text-align: left;
  /*padding-left: 50px;
  padding-right: 50px;*/
}

ul li {
  display: inline-flex;
  list-style-type: none;
}

a:hover{
  color: blue;
}

/*==========HERO IMAGE==========*/

.hero{
  width: 100%;
  text-align: center;
  margin: 0;
  position: relative;
  display: inline;
}

.hero img{
  width: 100%;
  position: inherit;
}

.hero h1{
  font-family: 'Poppins';
  font-size: 4em;
  margin: auto;
  position: inherit;
  top: 550px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero p{
  font-size: 1.5em;
  margin: auto;
  position: inherit;
  top: 600px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}



/*==========BLOG POSTS==========*/

#posts {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  /*padding: 1rem;*/
  position: inherit;
  /*top: 550px;*/
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: inline-block;
}

h2{
  /*line-height: 2em;*/
  font-size: 4em;
  margin: auto;
  color: yellow;
  text-align: center;
}

article{
  width: 300px;
  padding: 20px;
  margin: 30px;
  border: 2px solid pink;
  box-sizing: border-box;
  /*display: inline-block;*/
}

#flex {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  flex-direction: row;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 8%;

}

/*==========JOIN THE CLUB==========*/


.container {
  display: inline-flex;
  height: 100%;
  width: 100%;
}

div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 1rem;
}

.left-side {
  background: #ff9e2c;
}

.right-side {

  background: #b6701e;
}
.right-side img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}



/*==========EVERYBODY WANTS TO BE A CAT==========*/




.everybody{
  width: 100%;
  margin: 0;
  position: relative;
}

.everybody img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

section h5{
  font-family: 'Poppins';
  font-size: 4em;
  text-align: justify;
  position: absolute;
  color: green;
  /*top: 50%;
  left: 0;
  right: 0;
  bottom: 0;*/
  z-index: 1;
}

/*==========FOOTER==========*/
footer{
  width: 100%;
  /*padding: 20px;
  margin: 30px;
  border: 2px solid pink;*/
  box-sizing: border-box;
  /*display: inline-block;*/
  background: coral;
  height: 200px;

}


.disclaimer{
  display: inline-flex;
  float: left;
  flex-flow: wrap;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 8%;
  text-align: center;
  vertical-align: text-top;
}
