@import url('https://fonts.googleapis.com/css?family=Questrial');

header {
box-sizing: border-box;
display: list-item;
float: left;
width: 100%;

}


 ul li {

  float: right;
  margin: 10px 20px 10px 20px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  list-style: none;
}

a:hover{
  color: pink;
}



/*==========HERO IMAGE==========*/
.hero{
  width: 100%;
  text-align: center;
  margin: 0;
  position: relative;
  display: inline;
}

.hero img{
  width: 100%;
  position: inherit;
}

.hero h1{
  font-family: 'Poppins';
  font-size: 4em;
  margin: auto;
  position: inherit;
  top: 550px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero p{
  font-size: 1.5em;
  margin: auto;
  position: inherit;
  top: 600px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}



	h1 p {
	    display: inline-table;
      font-size: 3em;
       line-height:100%;
       font-family: 'Questrial', sans-serif;

	}



/*==========BLOG POSTS==========*/

#posts {
  text-align: center;
  vertical-align: middle;
  width: 100%;

  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: inline-block;
}

h2{
  font-family: 'Questrial', sans-serif;
  line-height: 2em;
  font-size: 4em;
  margin: auto;
  color: pink
  text-align: center;
}

article{
  /*text-decoration: none;*/
  width: 300px;
  padding: 20px;
  margin: 30px;
  border: 2px solid pink;
  box-sizing: border-box;
  /*display: inline-block;*/
}

article p{
  color: green;
}

article a {
  color: rgb(190, 57, 173);
  text-decoration: none;
}

#flex {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  flex-direction: row;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 8%;
}



/*==========JOIN THE CLUB==========*/


.container {
  display: inline-flex;
  /*height: 100%;*/
  width: 100%;
}

div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 0 0 0 20px;
}

.left-side {
  background: rgb(140, 183, 204);
  padding: 4px 8px 4px 8px;
}

.right-side {
  background: rgb(140, 183, 204);
}

.right-side img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}



/*==========EVERYBODY WANTS TO BE A CAT==========*/




.everybody{
width: 100%;
position: relative;


}

.everybody img {
width: 100%



}
.everybody h5{
  float: none;
  font-family: 'Questrial', sans-serif;
  font-size: 4em;
  color: yellow;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/*==========FOOTER==========*/
.footer__copyright, .footer__right {
    box-sizing: border-box;
    display: list-item;
    float: left;
    width: 100%;
}



.footer__copyright p {
  font-size: 4px;
  width: 3%;
  text-align: left;
}

.footer__right li a{
  font-size: .5em;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  color: black;
}
